
.wdt-carousel-holder { /* margin-left: -10px; margin-right: -10px;*/ position: relative; }

.wdt-carousel-holder .swiper.swiper-vertical .swiper-wrapper .swiper-slide { overflow: hidden; }

/* Pagination */
.wdt-carousel-holder .wdt-carousel-pagination-wrapper { text-align: center; }
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination { position: static; }
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination:empty { display: none; }

.wdt-carousel-holder .swiper.swiper-horizontal + .wdt-carousel-pagination-wrapper .wdt-swiper-pagination { 
    margin-top: clamp(1.25rem, 0.8173rem + 1.9231vw, 3.125rem) /* 20px - 50px */; }


/* Arrows */
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination { display: block; }
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div { background-color: transparent !important; background-image: none !important; color: var(--wdt-elementor-color-white); display: inline-flex; place-content: center; place-items: center; letter-spacing: 0; height: 35px; line-height: normal; margin: 1px; margin-top: 20px; padding: 0; position: relative; text-decoration: none; text-transform: none; vertical-align: top; width: 35px; z-index: 1; -webkit-border-radius: 0; border-radius: 0; -webkit-transition: var(--wdt-elementor-base-transition); transition: var(--wdt-elementor-base-transition); }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div span[class*="wdt-arrow-label-"] { display: none; }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div > i { color: inherit; display: inline-flex; place-content: center; place-items: center; font-size: inherit; height: 100%; margin: 0; padding: 5px; position: relative; width: 100%; z-index: 0; -webkit-transition: inherit; transition: inherit; }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div:before { background: var(--wdt-elementor-color-primary); content: ""; height: auto; margin: auto; position: absolute; bottom: 0; left: 0; right: 0; top: 0; width: auto; z-index: -1; -webkit-border-radius: inherit; border-radius: inherit; -webkit-transition: inherit; transition: inherit; }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div:hover:before { background-color: var(--wdt-elementor-color-accent); }

.wdt-carousel-holder .swiper.swiper-horizontal + .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination { margin-left: 10px; margin-right: 10px; }


/* Pagination - Dots or Bullets */

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets { 
    display: inline-flex; place-content: center; place-items: center; width: auto; }
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet { 
    background-color: transparent !important; background-image: none !important; display: inline-flex; place-content: center; 
    place-items: center; letter-spacing: 0; height: 5px; line-height: normal; margin: 5px 15px; opacity: 1; padding: 0; position: relative; 
    text-decoration: none; text-transform: none; vertical-align: top; width: 5px; z-index: 1; -webkit-border-radius: var(--wdtRadius_Full); 
    border-radius: var(--wdtRadius_Full); -webkit-transition: var(--wdt-elementor-base-transition); transition: var(--wdt-elementor-base-transition); }
/* .wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet-active { 
    width: 10px; height: 10px; outline: 1px solid var(--wdtPrimaryColor); outline-offset: 14px; margin: 0 30px;}  */

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:hover,
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet-active { opacity: 1; }

/* .wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:before { 
    background: var(--wdt-elementor-color-primary); content: ""; height: auto; margin: auto; position: absolute; bottom: 0; left: 0; right: 0; top: 0; 
    width: auto; -webkit-border-radius: inherit; border-radius: inherit; -webkit-transition: inherit; transition: inherit; }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:hover:before,
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet-active:before { 
    background-color: var(--wdt-elementor-color-accent); } */

.wdt-carousel-holder .swiper + .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets,
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets { margin-left: 5px; margin-right: 5px; }

/* New Dot Style */

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets:not(.swiper-pagination-bullets-dynamic) .swiper-pagination-bullet {
    width: clamp(1.75rem, 1.5769rem + 0.7692vw, 2.5rem); height: clamp(1.75rem, 1.5769rem + 0.7692vw, 2.5rem); margin: 0 4px; opacity: 1; 
    padding: 0; -webkit-border-radius: 50%; border-radius: 50%; background: transparent !important; position: relative; }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets:not(.swiper-pagination-bullets-dynamic) .swiper-pagination-bullet:hover { 
    opacity: 1; }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets:not(.swiper-pagination-bullets-dynamic) .swiper-pagination-bullet-active {
    width: clamp(1.75rem, 1.5769rem + 0.7692vw, 2.5rem);  }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets:not(.swiper-pagination-bullets-dynamic) .swiper-pagination-bullet:before,
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets:not(.swiper-pagination-bullets-dynamic) .swiper-pagination-bullet:after {
    content: ""; position: absolute; top: 0; right: 0; left: 0; bottom: 0; border-radius: inherit; -webkit-border-radius: inherit; 
    -webkit-transition: 375ms cubic-bezier(0.7, 0, 0.3, 1); transition: 375ms cubic-bezier(0.7, 0, 0.3, 1); }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets:not(.swiper-pagination-bullets-dynamic) .swiper-pagination-bullet:before {
    border: 1px solid var(--wdtPrimaryColor); opacity: 0; max-width: 70%; margin: auto; aspect-ratio: 1; }
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets:not(.swiper-pagination-bullets-dynamic) .swiper-pagination-bullet:after {
    background-color: var(--wdtSecondaryColor); max-width: 14%; margin: auto; aspect-ratio: 1; }

.wdt-dark-bg .wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets:not(.swiper-pagination-bullets-dynamic) .swiper-pagination-bullet:after {
    background-color: var(--wdt-elementor-color-white); }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets:not(.swiper-pagination-bullets-dynamic) .swiper-pagination-bullet-active:before {
    opacity: 1; max-width: 100%; }
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets:not(.swiper-pagination-bullets-dynamic) .swiper-pagination-bullet-active:after {
    max-width: 22%; background-color: var(--wdtPrimaryColor); }


/* Pagination - Fraction */
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-fraction { background: var(--wdt-elementor-color-primary); color: var(--wdt-elementor-color-white); display: inline-flex; place-items: center; height: 30px; line-height: 1; margin-left: auto; margin-right: auto; padding: 0 20px; width: auto; -webkit-border-radius: 5px; border-radius: 5px; }
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-fraction > * { display: inline-block; margin: 0; vertical-align: top; }


/* Pagination - ScrollBar */
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar { float: left; height: 6px; margin: 20px 0 0; opacity: 1 !important; position: relative; width: 100%; z-index: 0; -webkit-border-radius: 10px; border-radius: 10px;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 17%, rgba(0,0,0,0.1) 83%, rgba(0,0,0,0) 100%);
}

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar:before,
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar:after { content: ""; height: 100%; opacity: 0.6; position: absolute; bottom: 0; left: 0; right: 0; top: 0; width: 100%; z-index: -1; -webkit-border-radius: inherit; border-radius: inherit;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 17%, rgba(0,0,0,0.1) 83%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
}

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar:before,
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar:after { height: auto; margin: 0; width: 100%; }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar .swiper-scrollbar-drag { background-color: currentColor; color: var(--wdt-elementor-color-accent); border-radius: inherit; }


.wdt-carousel-holder .swiper.swiper-vertical + .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar { height: 100%; margin: 0; position: absolute; left: 100%; top: 0; width: 8px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 17%, rgba(0,0,0,0.1) 83%, rgba(0,0,0,0) 100%);
}

.wdt-carousel-holder .swiper.swiper-vertical + .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar:before,
.wdt-carousel-holder .swiper.swiper-vertical + .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar:after { height: 100%; margin: 0; width: auto;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 17%, rgba(0,0,0,0.1) 83%, rgba(0,0,0,0) 100%);
}

.wdt-carousel-holder .swiper.swiper-vertical[data-settings*="scrollbar"] { padding-right: 10px; }
.wdt-carousel-holder .swiper.swiper-vertical[data-settings*="scrollbar"] + .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar { left: auto; right: 0; }


/* Pagination - Progress */
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar { float: left; height: 6px; overflow: hidden; position: relative; width: 100%; z-index: 0; -webkit-border-radius: 10px; border-radius: 10px;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 17%, rgba(0,0,0,0.1) 83%, rgba(0,0,0,0) 100%);
}

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar:before,
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar:after { content: ""; height: 100%; opacity: 0.6; position: absolute; bottom: 0; left: 0; right: 0; top: 0; width: 100%; z-index: -1; -webkit-border-radius: inherit; border-radius: inherit;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 17%, rgba(0,0,0,0.1) 83%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
}

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar:before,
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar:after { height: auto; margin: 0; width: 100%; }


.wdt-carousel-holder .swiper.swiper-vertical + .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar { height: 100%; margin: 0; position: absolute; left: 100%; top: 0; width: 8px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 17%, rgba(0,0,0,0.1) 83%, rgba(0,0,0,0) 100%);
}

.wdt-carousel-holder .swiper.swiper-vertical + .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar:before,
.wdt-carousel-holder .swiper.swiper-vertical + .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar:after { height: 100%; margin: 0; width: auto;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 17%, rgba(0,0,0,0.1) 83%, rgba(0,0,0,0) 100%);
}

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill { background-color: currentColor; color: var(--wdt-elementor-color-accent); border-radius: inherit; }


.wdt-carousel-holder .swiper.swiper-vertical[data-settings*="progressbar"] { padding-right: 10px; }
.wdt-carousel-holder .swiper.swiper-vertical[data-settings*="progressbar"] + .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar { left: auto; right: 0; }


/** 
    Custom pagination
*/

.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination { width: 100%; max-width: 600px; z-index: 1; position: relative;
    margin: clamp(1.5rem, 0.9808rem + 2.3077vw, 3.75rem) auto 0px; padding: 30px 100px; 
    background-color: var(--wdtTertiaryColor); border-radius: var(--wdtRadius_2X); }

.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination > div[class*="swiper-pagination-fraction-"] { position: absolute;
    width: fit-content; padding: 10px 0 0; left: 50%; transform: translate(-50%, 10%); line-height: 1; display: none; }


.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination .swiper-pagination-progressbar { 
    float: left; height: 4px; overflow: hidden; position: relative; width: 100%; z-index: 0; -webkit-border-radius: 0; 
    border-radius: 0; background-color: var(--wdtBorderColor); background-image: none; }

.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination .swiper-pagination-progressbar:before,
.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination .swiper-pagination-progressbar:after,
.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination .wdt-carousel-arrow-pagination > div:before { display: none; }

.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination .swiper-pagination-progressbar .swiper-pagination-progressbar-fill { 
    background-color: var(--wdtPrimaryColor); -webkit-border-radius: 0; border-radius: 0; -webkit-transform: scale(1); transform: scale(1);
    -webkit-transition: all .3s linear; transition: all .3s linear; }

.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination .wdt-carousel-arrow-pagination > div span[class*="wdt-arrow-label-"] { 
    display: block; font-size: 1rem; }

.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination .wdt-carousel-arrow-pagination > div { position: relative; z-index: 2;
    display: inline-flex; align-items: center; justify-content: space-evenly; width: 60px; height: auto; padding: 0; 
    margin: 20px 5px 5px; background: none; }

.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination .slide-progress { position: relative; }
.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination .slide-progress .swiper-pagination-progressbar { 
    background-color: var(--wdtBorderColor); height: 2px; }
.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination .slide-progress .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    top: -2px; width: 100%; height: calc(100% + 4px); background-color: var(--wdtPrimaryColor); }


.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination .wdt-carousel-arrow-pagination > div { 
    position: absolute; margin: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
    
.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination .wdt-carousel-arrow-pagination > div.wdt-arrow-pagination-prev { 
    left: 24px; gap: 4px; }
.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination .wdt-carousel-arrow-pagination > div.wdt-arrow-pagination-next { 
    right: 24px; gap: 4px; }
    
.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination .wdt-carousel-arrow-pagination > div.wdt-arrow-pagination-prev i,
.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination .wdt-carousel-arrow-pagination > div.wdt-arrow-pagination-next i { 
    display: inline-flex; gap: 4px; font-style: normal; }

.wdt-carousel-pagination-wrapper.wdt-swiper-custom-pagination .wdt-carousel-arrow-pagination > div.wdt-arrow-pagination-prev i { 
    flex-direction: row-reverse; }