

.wdt-specifications-holder .wdt-content-item > div:not(:last-child), 
.wdt-specifications-holder .wdt-content-item .wdt-content-media-group > div:not(:last-child), 
.wdt-specifications-holder .wdt-content-item .wdt-content-detail-group > div:not(:last-child), 
.wdt-specifications-holder .wdt-content-item .wdt-content-elements-group > div:not(:last-child) { margin-bottom: 10px; }

.wdt-specifications-holder .wdt-content-item { height: 100%; }

.wdt-specifications-holder .wdt-specification-block { display: grid; width: 100%; height: 100%; overflow: hidden;
    -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.wdt-specifications-holder .wdt-specification-block > div.wdt-content-image-wrapper,
.wdt-specifications-holder .wdt-specification-block > div.wdt-content-detail-group { 
    grid-area: 1/-1; align-content: center; width: 100%; border-radius: inherit; }

.wdt-specifications-holder .wdt-specification-block > div.wdt-content-detail-group { position: relative; 
    padding: clamp(2.25rem, 1.9038rem + 1.5385vw, 3.75rem) clamp(1.125rem, 0.8077rem + 1.4103vw, 2.5rem); /* 18px - 40px */  justify-content: inherit; }
.wdt-specifications-holder .wdt-specification-block > div.wdt-content-detail-group > div { position: relative; z-index: 1; }

.wdt-specifications-holder .wdt-specification-block > div.wdt-content-detail-group:after { z-index: 0; opacity: 1;
    content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: var(--wdtBodyBGColor); 
    pointer-events: none; transition: var(--wdt-Ad-Transition); overflow: hidden; border-radius: inherit;
    -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

/* .wdt-specifications-holder .wdt-specification-block:hover > div.wdt-content-detail-group:after { opacity: 0.9;
    -webkit-box-shadow: inset 0px 0px 0px 1px var(--wdtPrimaryColor); box-shadow: inset 0px 0px 0px 1px var(--wdtPrimaryColor); } */


.wdt-specifications-holder .wdt-specification-block > div.wdt-content-detail-group > div.wdt-content-spec-group.item-inline { 
    display: flex; gap: 6px 28px; flex-wrap: wrap; justify-content: inherit; }


.wdt-content-spec-group.item-block > div:not(:last-child) { margin: 0 0 4px; }

.wdt-specifications-holder .wdt-specification-block .wdt-content-image-wrapper img { 
    width: 100%; height: 100%; object-fit: cover; object-position: center center; }

/* Specification Title */

.wdt-specifications-holder .wdt-specification-block .wdt-content-title h4 { margin: 0; }
.wdt-specifications-holder .wdt-specification-block > div.wdt-content-detail-group > div.wdt-content-title { margin-bottom: 20px; }

